*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Playfair Display', serif

body
    background-color: #FEF6E4
    /* overflow-x: hidden*/
    /*overflow-y: hidden*/ 

nav
    display: flex
    align-items: center
    justify-content: space-around
    padding: 20px

    ul
        display: flex
        align-items: center
        justify-content: space-around
        gap: 20px

        li
            list-style: none

            a
                text-decoration: none
                font-size: 20px
                font-weight: 800
                color: #000

    h1
        letter-spacing: 5px
        
        strong
            color: green